body{
 
    background: rgb(0,36,33);
    background: linear-gradient(90deg, rgba(0,36,33,1) 0%, rgba(23,247,173,0.5973739837731968) 36%, rgba(0,212,255,1) 100%);

}
* {
    text-align: center;
}
input{
    border: 2px solid white;
  border-radius: 25px;
}
button{
    border: 2px solid white;
    border-radius: 25px;  

}
#item {
    list-style-type: none;
}